$almostWhite: #FCFCFC;
$darkGrey: #545454;
$lightGrey: #C9D4E0;
$almostBlack: #2F2F2F;
$black: #000000;

//TODO pick something better for title or make vector img
$titleFont: 'Roboto Slab', serif;
$bodyFont: 'Open Sans', serif;

#body{
  background: $almostWhite;
}

.top-buffer {
  padding-top: 20px;
}

.bottom-buffer {
  padding-bottom: 40px;
}

.transparent-background{
  background:rgba(255,255,255,0.3);
}

#buzzwordizer-subtitle,
#buzzwordizer-title {
  font-family: $titleFont;
  color: $almostBlack;
}

#title-container{
  @media (min-width: 1px) {
    background: url(/assets/media/800/backdrop.jpg)  no-repeat center center;
  }
  @media (min-width: 801px) {
    background: url(/assets/media/1200/backdrop.jpg)  no-repeat center center;
  }
  @media (min-width: 1201px) {
    background: url(/assets/media/2000/backdrop.jpg)  no-repeat center center;
  }
  @media (min-width: 2001px) {
    background: url(/assets/media/full/backdrop.jpg)  no-repeat center center;
  }

  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#logo {
  max-width:100%;
  max-height:100%;
}

#footer {
  background: $darkGrey;
  color: $almostWhite;
}

#example-container {
  background: $lightGrey;
}

#users-container {
  background: $lightGrey;
  a {
    text-decoration: none;
    color: $darkGrey;
  }
  a:link    { color: $darkGrey }  /* unvisited links */
  a:visited { color: $darkGrey }  /* visited links   */
  a:hover   { color: $black }  /* user hovers     */
  a:active  { color: $darkGrey }  /* active links    */
}

hr{
  margin: 0;
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

